php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
php_flag log_errors on
php_flag ignore_repeated_errors off
php_flag ignore_repeated_source off
php_flag report_memleaks on
php_flag track_errors on
php_value docref_root 0
php_value docref_ext 0
php_value error_log /home/t/technoraum/technoraum.ru/public_html/PHP_errors.log
php_value error_reporting 2047
php_value log_errors_max_len 0
php_value default_socket_timeout 60
php_value max_input_vars 10000
<Files PHP_errors.log>
    Order allow,deny
    Deny from all
    Satisfy All
</Files>
Options -Indexes 
ErrorDocument 404 /404.php

<IfModule mod_php5.c>
	php_flag allow_call_time_pass_reference 1
	php_flag session.use_trans_sid off

	#php_value display_errors 1

	#php_value mbstring.internal_encoding UTF-8
</IfModule>

<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On
RewriteCond %{ENV:HTTPS} !on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
	
	RewriteCond %{HTTP_HOST} ^www\.(.*)$
	RewriteRule ^(.*)$ http://%1/$1 [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ https://technoraum.ru/ [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ https://technoraum.ru/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !\..{1,10}$
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ https://technoraum.ru/$1/ [L,R=301]
	
	RewriteCond %{REQUEST_URI} !\?
	RewriteCond %{REQUEST_URI} !\&
	RewriteCond %{REQUEST_URI} !\=
	RewriteCond %{REQUEST_URI} !\.
	RewriteCond %{REQUEST_URI} !\/$
	RewriteRule ^(.*[^\/])$ /$1/ [R=301,L]	


	#RewriteCond %{HTTPS} !=on
	#RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
	RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
	RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>
	
	

<IfModule mod_dir.c>
	DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresByType image/jpeg "access plus 7 day"
	ExpiresByType image/gif "access plus 7 day"
	ExpiresByType image/png "access plus 7 day"
	ExpiresByType text/css "access plus 7 day"
	ExpiresByType text/javascript "access plus 7 day"
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/xml
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE application/xhtml+xml 
  AddOutputFilterByType DEFLATE application/x-font  
  AddOutputFilterByType DEFLATE application/x-font-truetype  
  AddOutputFilterByType DEFLATE application/x-font-ttf  
  AddOutputFilterByType DEFLATE application/x-font-otf 
  AddOutputFilterByType DEFLATE application/x-font-opentype 
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE font/ttf 
  AddOutputFilterByType DEFLATE font/otf 
  AddOutputFilterByType DEFLATE font/opentype
# For Older Browsers Which Can't Handle Compression
  BrowserMatch ^Mozilla/4 gzip-only-text/html 
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>

<ifModule mod_gzip.c>
  mod_gzip_on Yes
  mod_gzip_dechunk Yes
  mod_gzip_item_include file \.(html?|txt|css|js|php|pl)$
  mod_gzip_item_include mime ^application/x-javascript.*
  mod_gzip_item_include mime ^text/.*
  mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
  mod_gzip_item_exclude mime ^image/.* 
  mod_gzip_item_include handler ^cgi-script$
</ifModule>

Redirect 301 /catalog/prinadlezhnosti-i-aksessuary/filtr-dlya-avd/ https://technoraum.ru/catalog/element/filtr-dlya-avd/
Redirect 301 /catalog/khimiya/zhidkiy-vosk-dlya-kuzova-avtomobilya-tutela/ https://technoraum.ru/catalog/element/zhidkiy-vosk-dlya-kuzova-avtomobilya-tutela/
Redirect 301 /catalog/khimiya/kontsentrirovannoe-sredstvo-dlya-obshchey-chistki-sanuzlov-karcher-ca-10-c-1l-chistyashchee-sredstvo/ https://technoraum.ru/catalog/element/kontsentrirovannoe-sredstvo-dlya-obshchey-chistki-sanuzlov-karcher-ca-10-c-1l-chistyashchee-sredstvo/
Redirect 301 /catalog/khimiya/antinakipin-palochki-rm-511/ https://technoraum.ru/catalog/element/antinakipin-palochki-rm-511/
Redirect 301 /catalog/khimiya/kontsentrat-sredstva-dlya-stekloochistitelya/ https://technoraum.ru/catalog/element/kontsentrat-sredstva-dlya-stekloochistitelya/
Redirect 301 /catalog/aksessuary-dlya-bytovykh-pylesosov/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/aksessuary-dlya-bytovykh-pylesosov/
Redirect 301 /catalog/aksessuary-dlya-nasosov/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/aksessuary-dlya-nasosov/
Redirect 301 /catalog/aksessuary-dlya-podmetalnykh-mashin/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/aksessuary-dlya-podmetalnykh-mashin/
Redirect 301 /catalog/aksessuary-dlya-professionalnykh-avd/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/aksessuary-dlya-professionalnykh-avd/
Redirect 301 /catalog/aksessuary-dlya-professionalnykh-pylesosov/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/aksessuary-dlya-professionalnykh-pylesosov/
Redirect 301 /catalog/aksessuary-dlya-stekloochistiteley/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/aksessuary-dlya-stekloochistiteley/
Redirect 301 /catalog/aksessuary-k-avd/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/aksessuary-k-avd/
Redirect 301 /catalog/avtokhimiya-i-avtokosmetika/ https://technoraum.ru/catalog/khimiya/avtokhimiya-i-avtokosmetika/
Redirect 301 /catalog/avtomobilnye-pylesosy/ https://technoraum.ru/catalog/bytovaya-tekhnika/pylesosy/avtomobilnye-pylesosy/
Redirect 301 /catalog/dlya-ochistki-i-obezzhirivaniya/ https://technoraum.ru/catalog/khimiya/sredstva-dlya-klininga/dlya-ochistki-i-obezzhirivaniya/
Redirect 301 /catalog/dlya-sanitarnykh-pomeshcheniy-santekhnika-poly-steny/ https://technoraum.ru/catalog/khimiya/sredstva-dlya-klininga/dlya-sanitarnykh-pomeshcheniy-santekhnika-poly-steny/
Redirect 301 /catalog/dlya-steklyannykh-poverkhnostey/ https://technoraum.ru/catalog/khimiya/sredstva-dlya-klininga/dlya-steklyannykh-poverkhnostey/
Redirect 301 /catalog/dozhdevateli-i-razbryzgivateli/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/sistemy-poliva-i-orosheniya1/dozhdevateli-i-razbryzgivateli/
Redirect 301 /catalog/elektroveniki/ https://technoraum.ru/catalog/bytovaya-tekhnika/elektroveniki/
Redirect 301 /catalog/professionalnye-monobloki/ https://technoraum.ru/catalog/professionalnaya-tekhnika/professionalnye-monobloki/monobloki/
Redirect 301 /catalog/professionalnye-moyki-vysokogo-davleniya/ https://technoraum.ru/catalog/professionalnaya-tekhnika/professionalnye-moyki-vysokogo-davleniya/
Redirect 301 /catalog/professionalnye-podmetalnye-mashiny/ https://technoraum.ru/catalog/professionalnaya-tekhnika/professionalnye-podmetalnye-mashiny/
Redirect 301 /catalog/professionalnye-pylesosy/	 https://technoraum.ru/catalog/professionalnaya-tekhnika/professionalnye-pylesosy/
Redirect 301 /catalog/pylesosy-dlya-sukhoy-uborki/ https://technoraum.ru/catalog/bytovaya-tekhnika/pylesosy/pylesosy-dlya-sukhoy-uborki/
Redirect 301 /catalog/pylesosy/ https://technoraum.ru/catalog/bytovaya-tekhnika/pylesosy/
Redirect 301 /catalog/pylesosy-kerkher-s-akvafiltrom/ https://technoraum.ru/catalog/bytovaya-tekhnika/pylesosy/pylesosy-kerkher-s-akvafiltrom/
Redirect 301 /catalog/ruchnye-podmetalnye-mashiny/	https://technoraum.ru/catalog/bytovaya-tekhnika/ruchnye-podmetalnye-mashiny/
Redirect 301 /catalog/ruchnye-pylesosy/	https://technoraum.ru/catalog/bytovaya-tekhnika/pylesosy/ruchnye-pylesosy/
Redirect 301 /catalog/sadovaya-tekhnika-i-instrument/	https://technoraum.ru/catalog/professionalnaya-tekhnika/sadovaya-tekhnika-i-instrument/
Redirect 301 /catalog/samovsasyvayushchie-nasosy/	https://technoraum.ru/catalog/bytovaya-tekhnika/nasosy/poverkhnostnye-nasosy/samovsasyvayushchie-nasosy/
Redirect 301 /catalog/shlangi-vysokogo-davleniya/	https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/aksessuary-dlya-professionalnykh-avd/shlangi-trubki-nasadki-dlya-prof-pylesosov/
Redirect 301 /catalog/shlangi/	https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/sistemy-poliva-i-orosheniya1/shlangi/
Redirect 301 /catalog/sistema-avtomaticheskogo-poliva/	https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/sistemy-poliva-i-orosheniya1/
Redirect 301 /catalog/sredstva-dlya-klininga/ https://technoraum.ru/catalog/khimiya/sredstva-dlya-klininga/
Redirect 301 /catalog/stantsii-vodosnabzheniya/	https://technoraum.ru/catalog/bytovaya-tekhnika/nasosy/poverkhnostnye-nasosy/stantsii-vodosnabzheniya/
Redirect 301 /catalog/stekloochistiteli-professionalnye/ https://technoraum.ru/catalog/professionalnaya-tekhnika/stekloochistiteli-professionalnye/
Redirect 301 /catalog/stekloochistiteli/ https://technoraum.ru/catalog/bytovaya-tekhnika/stekloochistiteli/
Redirect 301 /catalog/stroitelnye-pylesosy/ https://technoraum.ru/catalog/bytovaya-tekhnika/pylesosy/stroitelnye-pylesosy/
Redirect 301 /catalog/vertikalnye-pylesosy/ https://technoraum.ru/catalog/bytovaya-tekhnika/pylesosy/khozyaystvennye-pylesosy/
Redirect 301 /catalog/zimnyaya-seriya/ https://technoraum.ru/catalog/khimiya/avtokhimiya-i-avtokosmetika/zimnyaya-seriya/
Redirect 301 /catalog/poplavkovye-nasosy/ https://technoraum.ru/catalog/bytovaya-tekhnika/nasosy/pogruzhnye-nasosy/poplavkovye-nasosy/
Redirect 301 /catalog/pompy/ https://technoraum.ru/catalog/professionalnaya-tekhnika/professionalnye-monobloki/pompy/
Redirect 301 /catalog/paropylesosyy/ https://technoraum.ru/catalog/bytovaya-tekhnika/pylesosy/paropylesosyy/
Redirect 301 /catalog/paroochistiteli/ https://technoraum.ru/catalog/bytovaya-tekhnika/paroochistiteli/
Redirect 301 /catalog/komplekty-peskostruynye/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/aksessuary-dlya-professionalnykh-avd/komplekty-peskostruynye1/
Redirect 301 /catalog/professionalnye-parogeneratory-i-paroochistiteli/ https://technoraum.ru/catalog/professionalnaya-tekhnika/professionalnye-parogeneratory-i-paroochistiteli/
Redirect 301 /catalog/pylesosy-s-meshkom/ https://technoraum.ru/catalog/bytovaya-tekhnika/pylesosy/pylesosy-s-meshkom/
Redirect 301 /catalog/sadovye-pylesosy/ https://technoraum.ru/catalog/bytovaya-tekhnika/pylesosy/sadovye-pylesosy/
Redirect 301 /catalog/sistemy-poliva-i-orosheniya1/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/sistemy-poliva-i-orosheniya1/
Redirect 301 /catalog/tsentrobezhnye-nasosy/ https://technoraum.ru/catalog/bytovaya-tekhnika/nasosy/poverkhnostnye-nasosy/tsentrobezhnye-nasosy/
Redirect 301 /catalog/aksessuary-dlya-paroochistiteley/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/aksessuary-dlya-paroochistiteley/
Redirect 301 /catalog/aksessuary-dlya-sadovoy-tekhniki-i-instrumentov/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/aksessuary-dlya-sadovoy-tekhniki-i-instrumentov/
Redirect 301 /catalog/element/  https://technoraum.ru/catalog/ 
Redirect 301 /catalog/avtoshampuni-dlya-beskontaktnoy-moyki/   https://technoraum.ru/catalog/khimiya/avtokhimiya-i-avtokosmetika/avtoshampuni-dlya-beskontaktnoy-moyki/ 
Redirect 301 /catalog/bytovaya-tekhnika/pylesosy/moyushchie-pylesosy/apparat-dlya-vlazhnoy-uborki-pola-fc-3-cordless/  https://technoraum.ru/catalog/bytovaya-tekhnika/pylesosy/vertikalnye-pylesosy/apparat-dlya-vlazhnoy-uborki-pola-fc-3-cordless/ 
Redirect 301 /catalog/dlya-napolnykh-pokrytiy/ https://technoraum.ru/catalog/khimiya/sredstva-dlya-klininga/dlya-napolnykh-pokrytiy/ 
Redirect 301 /catalog/drenazhnye-nasosy/ https://technoraum.ru/catalog/bytovaya-tekhnika/nasosy/pogruzhnye-nasosy/drenazhnye-nasosy/ 
Redirect 301 /catalog/dvigateli/ https://technoraum.ru/catalog/professionalnaya-tekhnika/professionalnye-monobloki/dvigateli/ 
Redirect 301 /catalog/filtry-i-meshki/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/aksessuary-dlya-bytovykh-pylesosov/filtry-i-meshki/ 
Redirect 301 /catalog/gladilnye-sistemy/ https://technoraum.ru/catalog/bytovaya-tekhnika/gladilnye-sistemy/ 
Redirect 301 /catalog/kapelnyy-poliv-k-rcher-rain-system/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/sistemy-poliva-i-orosheniya1/kapelnyy-poliv-k-rcher-rain-system/ 
Redirect 301 /catalog/moyki-vysokogo-davleniya/ https://technoraum.ru/catalog/bytovaya-tekhnika/moyki-vysokogo-davleniya/ 
Redirect 301 /catalog/nasadki-pistolety/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/aksessuary-k-avd/nasadki-pistolety/ 
Redirect 301 /catalog/nasadki-pistolety-dlya-professionalnykh-avd1/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/aksessuary-dlya-professionalnykh-avd/nasadki-pistolety-dlya-professionalnykh-avd1/ 
Redirect 301 /catalog/nasosy/ https://technoraum.ru/catalog/bytovaya-tekhnika/nasosy/ 
Redirect 301 /catalog/ochistiteli-kuzova1/ https://technoraum.ru/catalog/khimiya/avtokhimiya-i-avtokosmetika/ochistiteli-kuzova1/ 
Redirect 301 /catalog/pennye-nasadki1/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/aksessuary-k-avd/pennye-nasadki/ 
Redirect 301 /catalog/penogeneratory/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/aksessuary-k-avd/pennye-nasadki/
Redirect 301 /catalog/poloter/ https://technoraum.ru/catalog/bytovaya-tekhnika/poloter/ 
Redirect 301 /catalog/poverkhnostnye-nasosy/ https://technoraum.ru/catalog/bytovaya-tekhnika/nasosy/poverkhnostnye-nasosy/ 
Redirect 301 /catalog/prinadlezhnosti-i-aksessuary/aksessuary-k-avd/komplekty-peskostruynye/komplekt-dlya-peskostruynoy-chistki/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/aksessuary-k-avd/komplekty-peskostruynye/ 
Redirect 301 /catalog/professionalnaya-tekhnika/penogeneratory/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/aksessuary-dlya-professionalnykh-avd/pennye-nasadki1/
Redirect 301 /catalog/professionalnaya-tekhnika/polomoechnye-mashiny/polomoechnye-mashiny-s-ruchnym-upravleniem1/ https://technoraum.ru/catalog/professionalnaya-tekhnika/polomoechnye-mashiny/polomoechnye-mashiny-s-ruchnym-upravleniem1/ 
Redirect 301 /catalog/professionalnaya-tekhnika/polomoechnye-mashiny/polomoechnye-mashiny-s-sidenem-dlya-voditelya1/ https://technoraum.ru/catalog/professionalnaya-tekhnika/polomoechnye-mashiny/polomoechnye-mashiny-s-sidenem-dlya-voditelya1/ 
Redirect 301 /catalog/khimiya/avtokhimiya-i-avtokosmetika/sredstva-spetsialnogo-naznacheniya/ochistiteli-dvigatelya/ https://technoraum.ru/catalog/khimiya/avtokhimiya-i-avtokosmetika/ochistiteli-dvigatelya1/ 
Redirect 301 /catalog/khimiya/avtokhimiya-i-avtokosmetika/sredstva-spetsialnogo-naznacheniya/ https://technoraum.ru/catalog/khimiya/sredstva-dlya-klininga/ 
Redirect 301 /catalog/polomoechnye-mashiny/  https://technoraum.ru/catalog/professionalnaya-tekhnika/polomoechnye-mashiny/ 
Redirect 301 /catalog/element/karcher-k-5-premium-car-jubilee-moyka-vysokogo-davleniya/ https://technoraum.ru/catalog/bytovaya-tekhnika/moyki-vysokogo-davleniya/karcher-k-5-premium-car-jubilee-moyka-vysokogo-davleniya/
Redirect 301 /catalog/polomoechnye-mashiny-s-ruchnym-upravleniem1/ https://technoraum.ru/catalog/professionalnaya-tekhnika/polomoechnye-mashiny/polomoechnye-mashiny-s-ruchnym-upravleniem1/
Redirect 301 /catalog/vosk-dlya-kuzova1/ https://technoraum.ru/catalog/khimiya/avtokhimiya-i-avtokosmetika/vosk-dlya-kuzova1/ 
Redirect 301 /catalog/filtry-i-meshki-dlya-prof-pylesosov/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/aksessuary-dlya-professionalnykh-pylesosov/filtry-i-meshki-dlya-prof-pylesosov/ 
Redirect 301 /catalog/aksessuary-dlya-polomoechnykh-mashin/ https://technoraum.ru/catalog/prinadlezhnosti-i-aksessuary/aksessuary-dlya-polomoechnykh-mashin/ 
